header {
  width: 100%;
  padding: 0 1rem;
  background: #064420;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .logo {
  padding: 0.5rem 0;
}

header a,
header a:hover {
  color: inherit;
  text-decoration: none;
}

nav ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
  list-style: none;
  align-items: center;
}

nav li {
  padding: 0.75rem;
  cursor: pointer;
}

nav li:hover {
  background: #fdfaf6;
  border-radius: 0.25rem;
  color: #064420;
}

nav li.selecionado {
  background: #fdfaf6;
  border-radius: 0.25rem 0.25rem 0 0;
  color: #064420;
  padding: 0 0.75rem;
  margin-top: 0.5rem;
  padding-top: 0.75rem;
  padding-bottom: 1.25rem;
}

header .container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 600px) {
  header .container {
    flex-direction: row;
  }
}
