.tab-cardapio {
  width: 100%;
  max-width: 1280px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.tab-cardapio .prato {
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  align-items: center;
}

.tab-cardapio .div-icone {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tab-cardapio .icone {
  font-size: 3.8rem;
  color: #064420;
}

.tab-cardapio .info {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.tab-cardapio .nome {
  font-size: 1.3rem;
  font-weight: bold;
}

.tab-cardapio .descricao {
  font-weight: lighter;
  font-style: italic;
  color: #444;
}

.tab-cardapio .preco {
  font-size: 0.9rem;
}

.tab-cardapio .valor {
  font-weight: bold;
  font-size: 1.1rem;
}

@media (min-width: 600px) {
  .tab-cardapio {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 900px) {
  .tab-cardapio {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1280px) {
  .tab-cardapio {
    grid-template-columns: repeat(4, 1fr);
  }
}
