.tab-contato {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
}

.tab-contato section {
  width: 100%;
  display: flex;
}

.tab-contato .telefone,
.tab-contato .endereco {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.tab-contato .endereco {
  flex-direction: column-reverse;
}

.tab-contato .telefone div,
.tab-contato .endereco div {
  width: 100%;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.tab-contato .telefone h2 {
  font-size: 3rem;
}

@media (min-width: 900px) {
  .tab-contato .telefone,
  .tab-contato .endereco {
    flex-direction: row;
  }
}
